.idea
cmake-build-debug/
havoqgt/
havoqgt
patternmatching-distributed/
patternmatching-distributed
data/patternmatching/test3/
data/patternmatching/IMDB*/
data/patternmatching/*/results/
*.log
*.sh
src/CMakeFiles/
src/oldmake/
.cmake-*/
build/
*.old


run_patternmatching_result/
__pycache__/

